@import "~antd/dist/antd.less";
@import "./assets/less/fonts.less";
@import "./assets/less/colors.less";
@import "./assets/less/sizes.less";

// -------- Ant Overrides Colors -----------
@primary-color: @primary;
@layout-header-background: @white;
@layout-body-background: @white;

// -------- Input ------------
@input-bg: @light;
